
.voteContainer{
    text-align: center;
    color: #ededed;
    font-family: sans-serif
}

.playerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerCard {
    width: 13%;
}

.imageContainer {
    margin-top: 1.5rem;
    position: relative;
}

img {
    border-radius: 50%;
    width: 45%;
}

.yourSelection {
    background-color: rgb(255,125,8);
    color: whitesmoke;
    border-radius: 2px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectedImg {
    border: 5px solid darkgray;
}

.unselectedImg:hover {
    border: 5px solid whitesmoke
}

.selectedImg {
    border: 5px solid rgb(255,125,8)
}

.finalSelection {
    border: 5px solid darkgray;  
}

.playerMsg {
    margin-left: 1.5rem;
    margin-right: 1.5rem; 
    text-align: justify;
    font-size: small;
}

.adminCloseVote{
    background-color: lightgrey
}

